<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark"/>
    <link rel="stylesheet" th:href="@{/css/pico.min.css}">
    <title>New Project</title>
    <style>
        .outline {
            --pico-border-width: 0;
            width: fit-content;
        }

        #cloud-source-group {
            margin-bottom: 0;
        }

        #form-button-fieldset {
            width: 100px;
        }

        .invalid_input {
            background-image: var(--pico-icon-invalid);
            --pico-border-color: var(--pico-form-element-invalid-border-color);
            padding-right: calc(var(--pico-form-element-spacing-horizontal) + 1.5rem) !important;
            padding-left: var(--pico-form-element-spacing-horizontal);
            padding-inline-start: var(--pico-form-element-spacing-horizontal) !important;
            padding-inline-end: calc(var(--pico-form-element-spacing-horizontal) + 1.5rem) !important;
            background-position: center right 0.75rem;
            background-size: 1rem auto;
            background-repeat: no-repeat;
        }

        .error-text {
            color: #cc0033;
            font-family: Helvetica, Arial, sans-serif;
            font-weight: bold;
            line-height: 20px;
        }

        .error-list {
            list-style-type: circle;
        }
    </style>
</head>
<script th:inline="javascript" type="text/javascript">
</script>
<body>

<main class="container">
    <nav>
        <ul>
            <li><a href="#">Project</a></li>
            <li><a href="#">Resources</a></li>
        </ul>
    </nav>
    <section class="pico">
        <form name="newProjectForm" onsubmit="return onSubmit()" action="#" th:action="@{/project/register}"
              method="post">
            <label for="project-name">1. Добавьте имя Вашего проекта:</label>
            <input id="project-name"
                   type="text"
                   name="project-name"
                   placeholder="Имя Вашего Проекта"
                   aria-label="Project Local Path"
                   th:field="*{newProjectSession.projectName}"
                   th:class="${#fields.hasErrors('newProjectSession.projectName')} ? invalid_input"
            />
            <ul class="error-list">
                <li th:each="err : ${#fields.errors('newProjectSession.projectName')}" th:text="${err}"
                    class="error-text"/>
            </ul>
            <label for="local-path-input">2. Вставьте путь к Вашему проекту </label>
            <input id="local-path-input"
                   type="text"
                   name="local-path"
                   placeholder="Путь к Вашему проекту"
                   aria-label="Project Local Path"
                   th:field="*{newProjectSession.localPath}"
                   th:class="${#fields.hasErrors('newProjectSession.localPath')} ? invalid_input"
            />
            <ul class="error-list">
                <li th:each="err : ${#fields.errors('newProjectSession.localPath')}" th:text="${err}"
                    class="error-text"/>
            </ul>
            <label for="cloud-source-group">3. Добавьте Ваше облачное хранилище</label>
            <fieldset id="cloud-source-group">
                <button class="outline" th:formaction="@{/oauth2/redirect/yandex}">YANDEX DISK</button>
                <button class="outline" type="button">GOOGLE DISK</button>
            </fieldset>
            <ul id="cloud-source-list" >
                <li  class="grid" th:each="keepSource : ${newProjectSession.getKeepSourceList()}" th:if="${keepSource.isCloud()}">
                    <p th:text="${keepSource.getUserName()}"></p>
                    <div></div>
                    <button  class="outline" th:formaction="@{|${urls.DELETE_SOURCE_FROM_NEW_PROJECT}/${keepSource.getUserName()}|}">&#9932;</button>
                </li>
            </ul>
            <ul class="error-list">
                <li th:each="err : ${#fields.errors('newProjectSession.keepSourceList')}" th:text="${err}"
                    class="error-text"/>
            </ul>
            <fieldset role="group" id="form-button-fieldset">
                <button type="submit">Создать</button>
                <button type="reset">Отмена</button>
            </fieldset>
        </form>
    </section>
</main>
</body>
</html>