<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="light dark" name="color-scheme"/>
    <link rel="stylesheet" th:href="@{/material.min.css}">
    <script th:src="@{/material.min.js}"></script>
    <link th:href="@{/material-icons-main/iconfont/material-icons.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Project</title>
</head>
<style>
    .project-card.mdl-card {
        width: 100%;
        background: #3E4EB8;
    }
    .project-card > .mdl-card__actions {
        border-color: rgba(255, 255, 255, 0.2);
    }
    .project-card > .mdl-card__title {
        align-items: flex-start;
    }
    .project-card > .mdl-card__title > .mdl-card__title-text {
        font-size:20px;
    }
    .project-card > .mdl-card__title .mdl-card__title > h4 {
        margin-top: 0;
    }
    .project-card > .mdl-card__actions {
        display: flex;
        box-sizing:border-box;
        align-items: center;
    }
    .project-card > .mdl-card__title,
    .project-card > .mdl-card__supporting-text,
    .project-card > .mdl-card__actions,
    .project-card > .mdl-card__actions > .mdl-button {
        color: #fff;
    }
</style>
<script th:inline="javascript" type="text/javascript">
    function syncProject(project_id) {
        var base_url = /*[[${urls.SYNC_PROJECT}]]*/""
        this.openUrl(base_url + "/" + project_id);
    }

    function openNewProjectView() {
        var base_url = /*[[${urls.NEW_PROJECT}]]*/""
        this.openUrl(base_url);
    }
    function openUrl(url) {
        window.open(url, "_self");
    }
</script>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Проекты</span>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" th:href="@{|/${urls.HOME}|}">Home</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Проекты</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" th:href="@{|/${urls.HOME}|}">Home</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--2-col"></div>
                <div class="mdl-cell mdl-cell--8-col">
                    <div class="project-card mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--expand">
                                <span class="mdl-card__title-text" th:text="${project.getName()}"></span>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <ul>
                                <li th:text="|Локальное хранилище: ${project.getLocalSource().getPath()}|"></li>
                                <li th:text="|Облачное хранилище: @${project.getCloudSource().getUserName()}|"></li>
                            </ul>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                               th:onclick="'syncProject(' + ${project.getId()} + ')'">Синхронизировать</a>
                            <div class="mdl-layout-spacer"></div>
                        </div>
                    </div>
                    <ul>
                        <li th:each="file : ${files}" th:text="|${file.getFile().getName()} ${file.getFullPath()}|"></li>
                    </ul>
                </div>
                <div class="mdl-cell mdl-cell--2-col"></div>
            </div>
        </div>
    </main>
</div>
</body>
</html>